= render partial: "layouts/header"
.body
  .left
    .left__mypage
    .left__melpay
    .left__settings
  .right
    .right__profile
      .right__profile__text
        プロフィール
      .right__profile__background
        .right__profile__background__name
      .right__profile__text-form
      .right__profile__submit
= render partial: 'layouts/button' 
= render partial: 'layouts/aside'
= render partial: 'layouts/footer'