.cover
  = render partial: "layouts/simpleheader"
  .oreder-new
    .oreder-new__body
      .oreder-new__body__header 購入内容の確認
      .oreder-new__body__main
        .oreder-new__body__main__inner
          = image_tag src="https://static.mercdn.net/thumb/photos/m67395797689_1.jpg?1570195723", class:"oreder-new__body__main__inner__image"
          .oreder-new__body__main__inner__item-name 秋冬お嬢様ワンピース
          .oreder-new__body__main__inner__form
            .oreder-new__body__main__inner__form__price-box
              .oreder-new__body__main__inner__form__price-box__price ¥4,200 
              .oreder-new__body__main__inner__form__price-box__fee 送料込み
            .oreder-new__body__main__inner__form__point-box
              .oreder-new__body__main__inner__form__point-box__point ポイントはありません
            .oreder-new__body__main__inner__form__price-table
              .oreder-new__body__main__inner__form__price-table__text 支払い金額
              .oreder-new__body__main__inner__form__price-table__pay-price ¥4,200
            %button.oreder-new__body__main__inner__form__pay-btn{type:"submit"} 購入する
      .oreder-new__body__address-box
        .oreder-new__body__address-box__inner
          %h3.oreder-new__body__address-box__inner__title 配送先
          .oreder-new__body__address-box__inner__address
            〒536-0013
            %br
            大阪府 大阪市
            %br
            まこなり
          .oreder-new__body__address-box__inner__edit
            変更する
            = fa_icon 'chevron-right'
      .oreder-new__body__payment-box
        .oreder-new__body__payment-box__inner
          %h3.oreder-new__body__payment-box__inner__title 支払い方法
          .oreder-new__body__payment-box__inner__card
            123456789
            %br
            01/25
            %br
          %img.oreder-new__body__payment-box__inner__image{src:"//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2296184308"}
          .oreder-new__body__payment-box__inner__edit
            変更する
            = fa_icon 'chevron-right'
  -# = render partial: "layouts/simplefooter"