-# = render partial: "layouts/header"
.body
  .slick_bar
    .slick_bar__left
      .slick_bar__left__button
        <
    .slick_bar__right
      .slick_bar__right__button
        > 
  .content
    .category
      .category__top
        .category__top__title
          人気のカテゴリー
        .category__top__contents
          .category__top__contents__rank1
            レディース
          .category__top__contents__rank2
            メンズ
          .category__top__contents__rank3
            家電・スマホ・カメラ
          .category__top__contents__rank4
            おもちゃ・ホビー・グッズ
      .category__new-items
        .category__new-items__upper
          .category__new-items__upper__text
            レディース新着アイテム
          .category__new-items__upper__more
            もっと見る >
        .category__new-items__lower
          .category__new-items__lower__up
            .category__new-items__lower__up__item1
              .category__new-items__lower__up__item1__picture
                .category__new-items__lower__up__item1__picture__price
                  ¥9,999
              .category__new-items__lower__up__item1__name
                ああああああああああああああ
            .category__new-items__lower__up__item2
            .category__new-items__lower__up__item3
            .category__new-items__lower__up__item4
            .category__new-items__lower__up__item5
          .category__new-items__lower__down
            .category__new-items__lower__down__item6
            .category__new-items__lower__down__item7
            .category__new-items__lower__down__item8
            .category__new-items__lower__down__item9
            .category__new-items__lower__down__item10
    .brand
      .brand__top
        .brand__top__title
          人気のブランド
        .brand__top__contents
          .brand__top__contents__rank1
            シャネル
          .brand__top__contents__rank2
            ルイヴィトン
          .brand__top__contents__rank3
            シュプリーム
          .brand__top__contents__rank4
            ナイキ
      .brand__new-items
        .brand__new-items__upper
          .brand__new-items__upper__text
            シャネル新着アイテム
          .brand__new-items__upper__more
            もっと見る >
        .brand__new-items__lower
          .brand__new-items__lower__up
            .brand__new-items__lower__up__item1
            .brand__new-items__lower__up__item2
            .brand__new-items__lower__up__item3
            .brand__new-items__lower__up__item4
            .brand__new-items__lower__up__item5
          .brand__new-items__lower__down
            .brand__new-items__lower__down__item6
            .brand__new-items__lower__down__item7
            .brand__new-items__lower__down__item8
            .brand__new-items__lower__down__item9
            .brand__new-items__lower__down__item10
  .exhibit-button
    .exhibit-button__text
      出品
    .exhibit-button__font
      = fa_icon 'camera'