  margin-right: 4px;
  max-width: 100%;
  max-height: 100%;
}

.icon-gray {
  color: rgb(204, 204, 204);
  max-width: 100%;
  max-height: 100%;
  margin-right: 10px;
  font-size: 1.4rem;
  font-weight: lighter;
}

.header {
  width: 100%;
  background-color: rgb(255,255,255);
  box-shadow: 0 0 5px;
  height: 100px;
  &__box {
    height: calc(100% - 7px);
    width: 1020px;
    margin: 0 auto;
    padding-top: 7px;
    &__upper {
      @include box;
      &__logo{
        align-items: center;
        margin-right: 45px;
        height: 40px;
        .logo-link{
          color: inherit;
          text-decoration: none;
          &__image{
            height: 34px;
            width: 134px;
          }
        }
      }
      &__search-form{
        width: 100%;
        position: relative;
        &__input{
          background-color: rgb(245, 245, 245);
          border-color: rgb(204, 204, 204);
          border-style: solid;
          border-image: initial;
          width: calc(100% - 62px);
          border-width: 1px;
          border-radius: 4px;
          padding: 0 50px 0 10px;
          height: calc(100% - 2px);
          font-size: 16px;
        }
        &__btn{
          cursor: pointer;
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0;
          right: 0;
          background-color: transparent;
          border: none;
          font-size: 1.4rem;
        }
      }
    }
    &__lower {
      @include box;
      justify-content: space-between;
      margin-top: 8px;
      &__list-categories {
        display: flex;
        &__category {
          padding-right: 10px;
          @include categories;
        }
        &__brand {
          padding-left: 10px;
          @include categories;
        }
      }
      &__list-user {
        display: flex;
        position: relative;
        &__favorite{
          @include list-user;
        }
        &__notice{
          @include list-user;
        }
        &__todo{
          padding-left: 14px;
          @include list-user;
        }
        &__mypage{
          padding-left: 14px;
          @include list-user;
          &__link__icon{
            border-radius: 50%;
            width: 32px;
            height: 32px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}