
.body {
  padding-top: 100px;
  overflow: scroll;
  .slick_bar {
    height: 390px;
    width: 100%;
    background-color: gray;
    box-sizing: border-box;
    &__left {
      height: 46px;
      width: 91px;
      float: left;
      line-height: 390px;
      &__button {
        text-align: right;
        font-size: 46px;
        color: white;
      }
    }
    &__right {
      margin: 0 0 0 auto;
      height: 46px;
      width: 91px;
      line-height: 390px;
      &__button {
        font-size: 46px;
        color: white;
      }
    }
  }
  .content {
    .category {
      &__top {
        padding-top: 56px;
        margin-bottom: 30px;
        &__title {
          height: 39px;
          width: 100%;
          text-align: center;
          font-size: 28px;
          font-weight: bold;
          color: rgb(51, 51, 51);
        }
        &__contents {
          padding-top: 16px;
          text-align: center;
          height: 40px;
          box-sizing: border-box;
          width: 100%;
          font-weight: bold;
          color: rgb(51, 51, 51);
          padding-left: calc(50vw - 287.54px);
          &__rank1 {
            float: left;
            height: 30px;
            width: 100.89px;
            background-color: rgb(245, 245, 245);
            font-size: 14px;
            line-height: 30px;
            border-radius: 15px;
          }
          &__rank2 {
            float: left;
            height: 30px;
            width: 74px;
            background-color: rgb(245, 245, 245);
            font-size: 14px;
            line-height: 30px;
            margin-left: 10px;
            border-radius: 15px;
          }
          &__rank3 {
            float: left;
            height: 30px;
            width: 172px;
            background-color: rgb(245, 245, 245);
            font-size: 14px;
            line-height: 30px;
            margin-left: 10px;
            border-radius: 15px;
          }
          &__rank4 {
            float: left;
            height: 30px;
            width: 198.19px;
            background-color: rgb(245, 245, 245);
            font-size: 14px;
            line-height: 30px;
            margin-left: 10px;
            border-radius: 15px;
          }
        }
      }
      &__new-items {
        background-color: rgb(245, 245, 245);
        height: 715px;
        width: 100%;
        padding-top: 42px;
        padding-left: calc(50vw - 510px);
        padding-right: calc(50vw - 510px);
        box-sizing: border-box;
        &__upper {
          height: 33px;
          width: 100%;
          &__text {
            font-size: 24px;
            float: left;
            line-height: 33px;
          }
          &__more {
            color: rgb(0,149,238);
            text-align: right;
            line-height: 33px;
          }
        }
        &__lower {
          &__up {
            padding-top: 16px;
            height: 268px;
            box-sizing: border-box;
            &__item1 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
            }
            &__item2 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
            &__item3 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
            &__item4 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
            &__item5 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
          }
          &__down {
            padding-top: 16px;
            height: 268px;
            box-sizing: border-box;
            &__item6 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
            }
            &__item7 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
            &__item8 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
            &__item9 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
            &__item10 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
          }
        }
      }
    }
    .brand {
      &__top {
        padding-top: 56px;
        margin-bottom: 30px;
        &__title {
          height: 39px;
          width: 100%;
          text-align: center;
          font-size: 28px;
          font-weight: bold;
          color: rgb(51, 51, 51);
        }
        &__contents {
          padding-top: 16px;
          text-align: center;
          height: 40px;
          box-sizing: border-box;
          width: 100%;
          font-weight: bold;
          color: rgb(51, 51, 51);
          padding-left: calc(50vw - 210.545px);
          &__rank1 {
            float: left;
            height: 30px;
            width: 88px;
            background-color: rgb(245, 245, 245);
            font-size: 14px;
            line-height: 30px;
            border-radius: 15px;
          }
          &__rank2 {
            float: left;
            height: 30px;
            width: 114.89px;
            background-color: rgb(245, 245, 245);
            font-size: 14px;
            line-height: 30px;
            margin-left: 10px;
            border-radius: 15px;
          }
          &__rank3 {
            float: left;
            height: 30px;
            width: 114.75px;
            background-color: rgb(245, 245, 245);
            font-size: 14px;
            line-height: 30px;
            margin-left: 10px;
            border-radius: 15px;
          }
          &__rank4 {
            float: left;
            height: 30px;
            width: 73.45px;
            background-color: rgb(245, 245, 245);
            font-size: 14px;
            line-height: 30px;
            margin-left: 10px;
            border-radius: 15px;
          }
        }
      }
      &__new-items {
        background-color: rgb(245, 245, 245);
        height: 715px;
        width: 100%;
        padding-top: 42px;
        padding-left: calc(50vw - 510px);
        padding-right: calc(50vw - 510px);
        box-sizing: border-box;
        &__upper {
          height: 33px;
          width: 100%;
          &__text {
            font-size: 24px;
            float: left;
            line-height: 33px;
          }
          &__more {
            color: rgb(0,149,238);
            text-align: right;
            line-height: 33px;
          }
        }
        &__lower {
          &__up {
            padding-top: 16px;
            height: 268px;
            box-sizing: border-box;
            &__item1 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
            }
            &__item2 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
            &__item3 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
            &__item4 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
            &__item5 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
          }
          &__down {
            padding-top: 16px;
            height: 268px;
            box-sizing: border-box;
            &__item6 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
            }
            &__item7 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
            &__item8 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
            &__item9 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
            &__item10 {
              height: 252px;
              width: 188px;
              background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.18);
              float: left;
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}