.login__box{
  width: 456px;
}

.registry-box__title__text{
  font-size: 13px;
}

.link-registration{
  font-size: 13px;
  background-color: #0099e8;
  color: white;
}

.password-forget{
  float: left;
  // できれば違う表現
}