.body {
  padding: 40px;
  background-color: rgb(245,245,245);
  .left {
    height: 1252px;
    width: 280px;
    float: left;
    box-sizing: border-box;
    margin-right: 40px;
    &__mypage {
      height: 686px;
      box-sizing: border-box;
      &__li {
        height: 49px;
        padding: 16px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 400;
        background-color: rgb(255,255,255);
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: rgb(245, 245, 245);
      }
    }
    &__title {
      margin-top: 40px;
      font-size: 16px;
      font-weight: 700;
      &__li {
        height: 49px;
        padding: 16px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 400;
        background-color: rgb(255,255,255);
        border-bottom-style: solid;
        border-bottom-width: thin;
        border-bottom-color: rgb(245, 245, 245);
      }
    }
  }
  .right {
    height: 568px;
    width: 700px;
    background-color: rgb(255,255,255);
    float: right;
  }
}