.simple-footer {
  height: 220px;
  width: 100%;
  box-sizing: border-box;
  &__center {
    height: 220px;
    width: 456px;
    margin-left: calc(50vw - 228px);
    margin-right: calc(50vw - 228px);
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: green;
    box-sizing: border-box;
    color: rgb(51,51,51);
    &__pr {
      height: 12px;
      width: 456px;
      padding-left: 38.655px;
      &__li {
        font-size: 12px;
        line-height: 12px;
        float: left;
      }
    }
  }
}