.simple-footer
  .simple-footer__center
    .simple-footer__center__pr
      .simple-footer__center__pr__li
        プライバシーポリシー　
      .simple-footer__center__pr__li
        メルカリ利用規約　
      .simple-footer__center__pr__li
        特定商取引に関する表記